body{
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vmax;
}
.fondo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color:#FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.67em 0;
    font-size: 3.5vw;
    font-weight: unset;
    width: 100%;
}
.perfiles{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
.cuadros{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}
.cuadro{
    
    border-radius: 5px;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: unset;
    color: grey;
    min-height: 1.8em;
    margin: 0.6em 0;

}
.cuadro:hover, span :hover{
    border:inset white solid 4px;
    color: white;
}
span :hover{
    color: white;
}
.mauricio{
    border-radius: 5px;
    background-image: url("mauricio.png");
    background-size: contain;
    height: 10vmax;
    width: 10vmax;
    text-align: center;
    margin: 1vmax;
}

.juan{
    border-radius: 5px;
    background-image: url("juan.png");
    background-size: contain;
    height: 10vmax;
    width: 10vmax;
    text-align: center;
    margin: 1vmax;
}
.madre{
    border-radius: 5px;
    background-image: url("mama.png");
    background-size: contain;
    height: 10vmax;
    width: 10vmax;
    text-align: center;
    margin: 1vmax;
}
.yo{
    border-radius: 5px;
    background-image: url("yo.png");
    background-size: contain;
    height: 10vmax;
    width: 10vmax;
    text-align: center;
    margin: 1vmax;
}
.ninos{
    border-radius: 5px;
    margin: 1vmax;
    background-image: url("niños.png");
    background-size: contain;
    height: 10vmax;
    width: 10vmax;
    text-align: center;
}

/*table{
    padding-left: 20vmax;
}
table:hover{
    margin: white;
}
.img_perfiles img{
    border: 0.3em solid transparent;
    border-radius: 4px;
    height: 10vmax;
    width: 10vmax;
    padding-left: 1.5vmax;
    cursor: pointer;
}

#img_mauricio img{
    border-radius: 10px;
    height: 10vmax;
    width: 10vmax;
}
.palabras_perfil td{
    font-family: Arial, Helvetica, sans-serif;
    color:#6C6C6C;
    text-align: center;
    font-size: 25px;
    font-weight: 400px;
    padding-top: 1vmax;
    cursor: pointer;
}*/
.manage{
    padding-left: 42%;
}
.manage button{
    font-family:Arial, Helvetica, sans-serif ;
    background: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: flex;
    font-size: 1.2vw;
    letter-spacing: 2px;
    margin: 2em 0 1em;
    padding: 0.5em 1.5em;
}